h1{
  color:#8fe8c4;
  font-size: 7rem;
  font-family: 'Square Peg', cursive;
  margin-top: 0;
  margin-bottom: 20px;
}


h2 , p{
font-family: 'Poppins', sans-serif;
}

h2{
  font-weight: 700;
  text-align: center;
}

p{
  font-weight: 400;
}


input{
  margin-bottom: 10px;
}
